<<<<<<< HEAD
%h1 BlogPosts#index
=======
%h1 Software Next Door's Tech Blog
>>>>>>> 1f4350c7d3651a18c4ce6ab2e6643736bb40067a

%p 
	Find me in app/views/blog_posts/index.html.haml

= render_widget :blog_post
